<!DOCTYPE html>
<html>
    <head>
        <title>product 1
        </title>
    <style>
    .row {
        display: flex;}
    .column{
        flex: 33.33%;
        padding: 5  px;}
    button{
        border-radius:24px;
        background-color:gold;
        color:black;
        font-style: italic;
        height:50px;
        width:50%;
    }
    </style>
    </head>
    <body>
        <div class="row">
            <div class="column">
            <img src="https://m.media-amazon.com/images/I/61Dw5Z8LzJL._SL1000_.jpg"  width="600">

            </div>
            <div class="column" style="padding-right: 10px;">
                <p style="font-size: xx-large;"><b>Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6"(39.62cm) FHD Thin & Light Laptop (8GB/256GB SSD/UHD Graphics/Windows 11/MS Office 2021/Platinum Grey/1.7Kg), 81WB018EIN</b></p><br><hr>
                <p style="font-size:large;"><em>M.R.P:<strike>₹57,990.00</strike><br>
                    Price:	₹37,990.00</p>
                <p style="font-size:x-large;"><b>About this item</b></p>
                <ul style="font-size:large;"><li>Series:IdeaPad 3</li>
                <li>Brand:Lenovo</li>
                <li>Specific Uses For Product:Personal, Student, Business</li>
                <li>Screen Size:15.6 Inches</li>
                <li>Operating System:Windows 11 Home</li>
                <li>Human Interface Input:Keyboard</li>
                <li>CPU Manufacturer:Intel</li>
                <li>Graphics Card Description:Integrated</li>
                <li>Processor: 10th Gen Intel Core i3-10110U | Speed: 2.1 GHz (Base) - 4.1 GHz (Max) | 2 Cores | 4 Threads | 4MB Cache</li>
                <li>OS: Pre-Loaded Windows 11 Home with Lifetime Validity</li>
                <li>Memory and Storage: 8GB RAM DDR4-2666, Upgradable to 12GB | 256 GB SSD</li>
                <li>Display: 15.6" FHD (1920x1080) | Brightness: 220 nits | Anti-Glare</li>
                <details>
                <summary><b>See More</b></summary>
                <li>Battery Life: 45Wh Battery | Upto 8 Hours | Rapid Charge (Up to 80% in 1 Hour)</li>
                <li>Camera (Built in): HD 720p (1.0MP) Camera | Fixed Focus | Privacy Shutter | Integrated Dual Array Microphone</li>
                <li>Audio: 2 x 1.5W Stereo Speakers | HD Audio | Dolby Audio</li>
                <li>In the box: Laptop, Power Adapter and User Manual</li>
                <li>Warranty: This genuine Lenovo laptop comes with 2 year onsite manufacturer Warranty</li></details></ul></em><hr><br>
                <p align="center"><button onclick="#">BUY NOW</button></p>
            </div>
        </div>
    </body>
</html>
